@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: "brandon_text_regularregular", Helvetica, Arial, sans-serif;
}

#top-section {
    z-index: 1 !important;
}

#fintech,
#iot,
#education,
#check-more,
#client,
#software,
#teams {
    z-index: 49 !important;
    position: sticky;
}

#footer {
    z-index: 1 !important;
}